<%- include('partials/header') %>
<style>
  body{
    background-image: url("/images/contactesg.jpg");
  }
</style>
  <br><br><br><br><br>

  <div class="container">
    <div class="content">
      <h2>Contact Us</h2>
      <p>For any inquiries or feedback, please feel free to reach out to us using the contact information below:</p>
      <p>Email: agarwal.parth25@gmail.com</p>
      <p>Phone: +91 8005677488</p>
    </div>
  </div>

  <%- include('partials/footer') %>

