<!DOCTYPE html>
<html>
<head>
  <title>ESG Score Calculator - Contact Us</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <style>
    /* Additional inline styles */

    /* ... (existing styles) ... */

    body {
      background-color: #E4F2E7;
    }

    .navbar {
      background-color: #4CAF50;
      color: #fff;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 10px;
      z-index: 999;
    }

    .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }

    .navbar li {
      margin: 0 10px;
    }

    .navbar a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
    }

    .container {
      margin-top: 70px;
      padding: 20px;
    }

    .content h2 {
      color: #333;
      font-size: 24px;
      margin-bottom: 10px;
    }

    .content p {
      color: #666;
      margin-bottom: 5px;
    }

    .footer {
      background-color: #4CAF50;
      color: #fff;
      padding: 10px;
      text-align: center;

      
      bottom: 0;
      left: 0;
      width: 100%;
    }

    .footer p {
      margin: 0;
    }
  </style>
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/what_is_esg">What is ESG?</a></li>
      <li><a href="/contact_us">Contact Us</a></li>
    </ul>
  </div>

  <div class="container">
    <div class="content">
      <h2>Contact Us</h2>
      <p>For any inquiries or feedback, please feel free to reach out to us using the contact information below:</p>
      <p>Email: agarwal.parth25@gmail.com</p>
      <p>Phone: +91 8005677488</p>
    </div>
  </div>

  <div class="footer">
    <p>Contact us: email@example.com | Phone: 123-456-7890</p>
  </div>
</body>
</html>
